.vs
*.user
/SupervisedLearning/SupervisedLearning/bin
/SupervisedLearning/SupervisedLearning/obj
/SupervisedLearning/Concepts_Tests/obj
/SupervisedLearning/Concepts_Tests/bin
/SupervisedLearning/Concepts/bin
/SupervisedLearning/Concepts/obj
/SupervisedLearning/CombinatorialSpace/bin
/SupervisedLearning/CombinatorialSpace/obj
/SupervisedLearning/packages
/SupervisedLearning/CombinatorialSpace_Tests/bin
/SupervisedLearning/CombinatorialSpace_Tests/obj
